  .bg-overlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(
      to bottom right,
      rgba(255, 167, 53, 0.6),   /* amber-200/60 */
      rgba(65, 65, 65, 0.473), /* white/20   */
      rgba(0, 0, 0, 0.76)   /* emerald-100/60 */
    );
    backdrop-filter: blur(3px);
    z-index: 1;
  }

.bg-bottom-fade {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20vh; 
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,       
      rgba(0, 0, 0, 0.92) 20%,
      rgba(0, 0, 0, 0.75) 40%,
      rgba(0, 0, 0, 0.45) 65%,
      rgba(0, 0, 0, 0.15) 85%,
      rgba(0, 0, 0, 0) 100%     
    );
    z-index: 2; 
    pointer-events: none;
  }
  